@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* header css start  */
header {

    width: 90%;

    margin: auto;

    display: flex;

    justify-content: space-between;

    padding: 30px 0px;

    align-items: center;

}

.logo {

    width: 20%;
}

.nav {

    width: 40%;
}

.nav ul {

    list-style: none;

    display: flex;

    justify-content: space-between;
}

.nav ul li {}

.nav ul li a {

    text-transform: uppercase;

    color: #2d3950;

    font-size: 15px;

    text-decoration: none;

    font-weight: 600;
    transition: .2s all ease-in-out;
}

.nav ul li a:hover {
    border-bottom: 3px solid rgb(21, 164, 250);
}

/* header css End  */

/* Banner css start  */
.banner {
    background-image: url(../images/banner.png);
    min-height: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner-content {
    width: 30%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-content h1 {

    font-size: 120px;

    color: #ffffff;

    text-transform: uppercase;
}

.banner-content span {

    display: inline-block;
    height: 2px;
    width: 100%;
    background: rgb(21, 164, 250);
}

.banner-content p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin: 15px 0px;
}

.banner-content input[type="button"] {
    background: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(21, 164, 250);
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-top: 15px;
    outline: none;
    transition: .4s all ease-in-out;
}

.banner-content input[type="button"]:hover {
    background: rgb(21, 164, 250);
}

.icon {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
    color: #fff;
    font-size: 25px;
    animation: up-down 1s linear infinite;
    animation-duration: alternate;
}

@keyframes up-down {
    0% {
        top: 80%;
    }

    100% {
        top: 85%;
    }
}

/* Banner css End  */

/* simple css start here  */
.simple {

    height: 230px;
    background: rgb(246, 249, 249);
    /* position: absolute;  */
}

.simple-content {

    width: 80%;

    /* position: relative; */

    margin: auto;

    padding: 20px 0px;

    text-align: center;
}

.simple-content h3 {

    font-size: 40px;

    /* display: flex;

    justify-content: center; */

    color: rgb(45, 57, 80);

    padding: 10px 0px;
}

.simple-content p {

    font-size: 19px;
    line-height: 1.4;
    color: rgb(153, 153, 153);
    text-align: center;
}

/* simple css end here  */
/* feature css start here  */

.feature {
    width: 90%;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.feature-01 {
    width: 30%;
    text-align: center;
}

.feature-icon {

    height: 100px;

    width: 100px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,48baff+50,5fc3ff+50,5fc3ff+100 */
    background: #48baff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48baff', endColorstr='#5fc3ff', GradientType=1);
    /* IE6-9 */



    font-size: 40px;

    color: #fff;

    text-align: center;

    line-height: 100px;

    margin: auto;
}

.feature-01 h3 {
    color: #2d3950;
    font-size: 22px;

    padding: 10px 0px;
}

.feature-01 p {

    color: #999999;
    font-size: 15px;

}

/* feature css end here  */
/* showcase css start here  */

.show-case {
    background: #f6f9f9;
    padding: 50px 0px;
}

.show-case-heading {
    text-align: center;
    padding-bottom: 50px;
}

.show-case-heading h1 {
    font-size: 41px;
    color: #2d3950;
}

.show-case-heading p {
    font-size: 15px;
    color: #929294;
}

.gallery {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.item-one {
    width: 30%;
    position: relative;
}

.item-one image {
    width: 100%;
}

.item-one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #15a4fa;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.item-one:hover::after {
    opacity: 0.5;
}

.gallery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s all ease-in-out;
    z-index: 1;
}

.gallery-icon ul {
    list-style: none;
    list-style: none;
}

.gallery-icon ul li {

    float: left;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 20px;
}

.item-one:hover .gallery-icon {
    opacity: 2;
}

/* showcase css end here  */

/* Contact css start here  */
.show-case-heading2 {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.show-case-heading2 h1 {
    font-size: 41px;
    color: #ffffff;
}

.show-case-heading2 p {
    font-size: 15px;
    color: #7c7f84;
}

.contact {
    background-image: url(../images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    position: relative;
    /* background-blend-mode: darken; */
    /* background-color: #2d384c; */
    min-height: 500px;
    /* z-index: -1; */
}
.contact::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d394d;
    opacity: 0.9;
}
.pos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.contact-form {
    width: 70%;
    margin: auto;
}

form {}

form input[type="text"], form input[type="email"] ,textarea{
    width: 100%;
    background: transparent;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #999999;
    margin-bottom: 20px;
    /* padding-left: 10px;  */
}
form input::placeholder{
    color: #929394;
    padding-left: 10px;

}
textarea::placeholder{
    color: #929394;
    padding-left: 10px;

}
form span{
    color: #fff;
    padding: 9px;
}
form input[type="checkbox"] {}

form input[type="submit"] {
    background: transparent;
    border: none;
    color: #fff;
    border: 1px solid #15a4fa;
    border-radius: 2px;
    padding: 7px 27px;
}
.flx{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
/* Contact css end here  */

/* Footer css start here  */
footer{

height: 78px;

width: 80%;

margin: auto;

position: relative;
}
footer p{
    font-size: 15px;
    color: #a5a6a6;

}
footer ul{

}
footer ul i{
    background: #15a4fa;
    margin-left: 2px;
    color: #ffffff;
    /* font-size: 22px; */
    padding: 4px;
}
.foot-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Footer css end here  */